<!DOCTYPE html>
<html>
<head>
  <title>Erb's Ruby Pizza Parlour</title>
  <link rel="stylesheet" type="text/css" href="/pizza_styles.css">
</head>
<body>
  <nav>
    <ul>

        <a href="/pizza_orders">Pizza Orders</a>
        <br>
        <a href="/pizza_orders/new">New Pizza Order</a>
    </ul>
  </nav>
  <%= yield %>
  <br>
</body>
</html>
